<div class="post-container">
    <ng-container *ngIf="posts.length > 0; else noPosts"></ng-container>
    <div class="post-preview" *ngFor="let post of posts">
        <p-card header={{post.title}} subheader={{post.summary}}>
            <p>
                {{post.summary.slice(0, 500)}}
                <span *ngIf="post.summary.length>500"> ...</span>
            </p>
            <p-button class="preview-button" (onClick)="openPost(post.id)">Read More</p-button>
        </p-card>
    </div>
    <ng-template #noPosts>
        No Posts Yet!
    </ng-template>
</div>