<div class="post">
    <div style="flex:2">
        <h1>About</h1>
            <p style="font-size: large;">
                Scogg Fixin Things was first created around April of 2024. The name for this page was a combination of my last name and the theme of the page - to fix things around the house. I credit my wife with the creation of the name. 
                My passion for wood working and household projects began around the age of 18. My family has a lakehouse that would make any homeowner feel better about themselves. With the constant need for upkeep and the decline in my granfather's health, it fell upon the rest of the family to help take care of the place. Replacing rotten wood, rebuilding decks, and building a dining table kick-started my passion for wood-based projects. Throughout college I began collecting tools and working on building my skills by creating cutting boards, serving trays, and other small items for friends and family. In 2022, my wife and I purchased our first home (really awesome time to do that by the way!). With a home of my own, I now have the creative freedom to try projects around the house.
                One goal that I have for this page is to highlight as many of the mistakes and issues that I run into as possible. In my experience, I learn the most from my mistakes. I want to take this mindset and apply that to my videos and posts in the hope that others can avoid making those same mistakes if they decide to take on a similar project. 
            </p>
    </div>
    <div style="flex: 1">
        <img style="max-width: 100%; max-height: 100%;" src="https://sftblobcontainer.blob.core.windows.net/sftcontainer/IMG_4118.jpeg">
    </div>
</div>