/* You can add global styles to this file, and also import other style files */
@import "node_modules/primeng/resources/primeng.min.css";
@import "node_modules/primeng/resources/themes/lara-light-blue/theme.css";

/* body {background-color:#364897;} */

.header {
    width: 100%;
    display: flex;
    padding: 10px;
    margin-bottom: 20px;
    justify-content: space-between;
    z-index: 9999;
    top: 0;
    left: 0;
  }
  
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post-preview {
  width: 40vw;
  margin: 5px;
}

.p-button {
  color: black;
  transition: color 0.1s
}

.header .p-button {
  background:none;
  border: none;
  box-shadow: none;
}

.header .p-button:hover {
  color:rgb(94, 92, 92);
  background: none;
}

.post-preview .p-button {
  background:blue;
  border: none;
}

.center {
  margin: auto;
  width: 50%;
  border: 3px solid black;
  padding: 10px;
}

.active .p-button {
  text-decoration: underline;
}