/* You can add global styles to this file, and also import other style files */
@import "node_modules/primeng/resources/primeng.min.css";
@import "node_modules/primeng/resources/themes/lara-light-blue/theme.css";
.header {
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 9999;
    top: 0;
    left: 0;
    background-color: rgb(50, 138, 145);
  }

.header-button {
  color: 'red';
}