/* You can add global styles to this file, and also import other style files */
@import "node_modules/primeng/resources/primeng.min.css";
@import "node_modules/primeng/resources/themes/lara-light-blue/theme.css";
@import "node_modules/primeicons/primeicons.css";

body {background-color:#f0f0f0;}

.header {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background:white;
    max-height: 100px;
  }

.center-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  width: 100%;
}

.p-menubar {
  background: none;
  border: none;
  float: right;
  position: relative;
}

.p-menubar.p-menubar-mobile-active .p-menubar-root-list {
  position:absolute;
  top: 100%;
  width: 33vw;
}

.p-menubar.p-menubar-mobile-active .p-menubar-root-list:last-of-type {
  right: 0;
  left:auto;
}

.container {
  padding-top: 5vw;
}
  
.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post-preview {
  width: 40vw;
  margin: 5px;
}

.p-card .p-card-body {
  background:#c6c6c6;
}

.p-button {
  color: black;
  transition: color 0.5s;
  background: none;
}

.p-button:enabled:hover {
  background: #686868;
  color: white;
  transition: all 0.2s;
}

.header .p-button {
  background:none;
  border: none;
  box-shadow: none;
}

.header .p-button:hover {
  color:rgb(94, 92, 92);
  background: none;
}

.post-preview .p-button {
  border: none;
}

.post {
  margin: auto;
  width: 75%;
  padding: 10px;
  display: flex;
  flex-direction: row;
}

.post-content {
  flex: 1;
}

.active .p-button {
  text-decoration: underline;
}

.p-galleria .p-galleria-thumbnail-container {
  background: none;
}

.p-galleria-thumbnail-item {
  padding: 5px;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next {
  color: black;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-next:hover {
  color: gray;
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev {
  color: black
}

.p-galleria .p-galleria-thumbnail-container .p-galleria-thumbnail-prev:hover {
  color: gray
}

.logo:hover {
  cursor: pointer;
}

@media(max-width:768px){
  .for-desktop{
    display:none
  }
}

@media(min-width:768px){
  .for-mobile{
    display:none
  }
}

.p-carousel-items-container {
  align-items: center;
}