<div class="header for-desktop">
    <img width=100px src="assets\sftLogo.png" routerLink="/" class="logo">
    <div>
        <p-button routerLink="/" label="Home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"></p-button>
        <p-button routerLink="/living" label="Living Room" routerLinkActive="active"></p-button>
        <!-- <p-button routerLink="/kitchen" label="Kitchen" routerLinkActive="active"></p-button> -->
        <!-- <p-button routerLink="/bathroom" label="Bathroom" routerLinkActive="active"></p-button> -->
        <p-button routerLink="/dining" label="Dining Room" routerLinkActive="active"></p-button>
        <!-- <p-button routerLink="/bedroom" label="Bedroom" routerLinkActive="active"></p-button> -->
        <p-button routerLink="/other" label="Other" routerLinkActive="active"></p-button>
        <p-button routerLink="/about" label="About" routerLinkActive="active"></p-button>
    </div>
</div>
<div class="menu for-mobile">
    <img width=75px src="assets\sftLogo.png" routerLink="/" class="logo">
    <p-menubar [model]="tabs"></p-menubar>
</div>