<div class="header">
    <img width=100px src="assets\sftPlaceholder.jpg">
    <div>
        <p-button routerLink="/" label="Home"></p-button>
        <p-button routerLink="/living" label="Living Room"></p-button>
        <p-button routerLink="/kitchen" label="Kitchen"></p-button>
        <p-button routerLink="/bathroom" label="Bathroom"></p-button>
        <p-button routerLink="/dining" label="Dining Room"></p-button>
        <p-button routerLink="/bedroom" label="Bedroom"></p-button>
        <p-button routerLink="/other" label="Other"></p-button>
        <p-button routerLink="/about" label="About"></p-button>
    </div>
</div>
