<div class='post'>
    <div class="post-content" *ngFor="let post of allPosts">
        <div style="display: flex; flex-direction: row;">
            <div>
                <h1>{{post.title}}</h1>
                <h3>{{post.summary}}</h3>
                {{post.createDate | date}}
            </div>
            <div *ngIf="post.images.length > 0" class="post-content">
                <p-carousel [value]="post.images" [numVisible]="2">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.imageLink" style="max-width:100%; padding: 5px"/>
                    </ng-template>
                </p-carousel>
            </div>
            
        </div>
        <div [innerHTML]="post.content"></div>
    </div>
</div>
